{
  "db": {
    "name": "db",
    "connector": "memory"
  },
  "localDatabase": {
      "name": "localDatabase",
      "connector": "{{ adapter_database }}",
      "url": "mongodb://{{ mongodb_user }}:{{ mongodb_password }}@{% for server in mongodb_hosts %}{{ server }}:{{ mongodb_port}}{% if not loop.last %},{% endif %}{% endfor %}/{{ application }}-{{ env }}"
    }
}

